<!DOCTYPE html>
<html lang="en" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <section class="banner d-flex justify-content-center align-items-center">
        <div class="text-center">
            <h1 class="text-center">Smart Contact Manager</h1>
            <p>Start Collecting your contact in very smarter way. We provide very efficient and smarter way of handling contacts.</p>

            <button class="btn bg-primary tbn-lg text-white">Get Started</button>
        </div>
        
    </section>
</body>
</html>